html,tr,a,td,body,img,div,table,h2,p,h1{padding:0px;margin:0px;}
h2 {font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, sans-serif }
h1{font-family: Lucida Console;font-size:40px;}

a{text-decoration:none;}a:visited {color:#666665;}

body{
border-top:10px solid #ebebc8;
border-bottom:40px solid #ebebc8;
}
#container{

width:900px;
margin:10px auto;
}

#resume_header{
text-align:right;
color:#666665;
height:50px;
}

#resume_header h2{
font-size:15px;
padding-top:10px;
padding-right:20px;
}
h4:hover a,p:hover a,#resume_header:hover a{
color:#000; text-decoration:underline;
}
#my_name{
padding:10px;
}

#contact_details{
width:400px;
padding:20px;
border:2px solid #f7f7c6;
float:right;
text-align:center;
margin-bottom:20px;
}#contact_details:hover{background:#f7f7c6}
#bar{
clear:both;
border-bottom:1px solid #f7f7c6}
h3 {
font-family: Lucida Console;font-size:25px;
}
h4 {
font-family: Lucida Console;font-size:15px;
}
#float_box{
width:400px;
padding:10px;
border:2px solid #f7f7c6;
float:center;
margin-bottom:20px;
}
#project_box{
width:800px;
padding:10px;
border:2px solid #f7f7c6;
float:center;
margin-bottom:20px;
}
#float_box:hover{background:#f7f7c6}
